@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

:root {
  --main-purple: #6142da;
  --main-beige: #edebdf;
  --off-black: #414141;
  font-family: "Inter", sans-serif;
}

.tiltable p,
.tiltable h1,
.tiltable h2,
.tiltable h3,
.tiltable img {
  pointer-events: none;
}

nav {
  height: 100px;
  width: 100%;
}

.left-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
}

.right-nav {
  width: 100%;
  height: 90vh;
  background-color: black;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav ul {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  color: white;
  list-style: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.nav-logo {
  cursor: pointer;
}

.nav-hamburger {
  height: 9vw;
}

.nav-cross {
  height: 5vw;
}

.open {
  display: block;
}

.closed {
  display: none;
}

/* Media queries */

@media only screen and (min-width: 768px) {
  .nav-item {
    display: block;
  }

  .right-nav {
    display: flex;
    height: 100%;
    width: 50%;
    padding: 4vw;
    align-items: center;
    justify-content: flex-start;
  }

  .left-nav {
    width: 50%;
  }

  nav {
    display: flex;
  }

  .nav-hamburger {
    display: none;
  }
}
