.section-scroll h2 {
  color: white;
  font-size: 18vw;
  margin: 4vw;
}

.card-scroller {
  width: 100%;
  overflow-x: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-scroller::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 10px;
  background-color: lightgrey;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  transition: 0.5s;
}

.card div:nth-child(1) {
  height: 50%;
  width: 100%;

  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
}

.card div:nth-child(2) {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
