.section-scroll h2 {
  color: white;
  font-size: 18vw;
  margin: 4vw;
}

.card-scroller {
  width: 100%;
  overflow-x: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-scroller::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 2.5vw;
  background-color: lightgrey;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  transition: 0.5s;
}

/* [LAB 01] */
.card h4 {
  font-size: 3vh;
  margin-top: 4vh;
  margin-left: 2vw;
}

.card h3 {
  font-size: 4vh;
  margin-top: 2vh;
  margin-left: 2vw;
  color: var(--main-purple);
}

.card p {
  font-size: 2vh;
  margin-top: 6vh;
  margin-left: 2vw;
  line-height: normal;
}

.card a {
  font-size: 2vh;
  margin-top: auto;
  margin-left: 2vw;
  margin-bottom: 2vw;
  text-decoration: none;
  color: var(--main-purple);
}

.card div:nth-child(1) {
  height: 50%;
  width: 100%;

  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
}

.card div:nth-child(2) {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .section-scroll h2 {
    font-size: 10vw;
  }

  .card{
    border-radius: 0.7vw;
  }

  .card a {
    margin-bottom: 0.75vw;
  }

  .card img{
    border-radius: 0.7vw;
  }

}
